@import '../styleGuide.scss';


.form_top_bg{
    background-color: $basicBlueColor;
    min-height: 634px;
    
    position: relative;
    overflow: hidden;
    
    
    

    .waves{
        position: absolute;
        top: calc(-4980px * 10);
        left:calc(-2400px * 10);
        div{
            position: absolute;
            width: 100px;
            height: 100px;
            width:calc( 5000px * 10);
            height: calc( 5000px * 10);
            opacity: 0.9;
            border: 1px solid white;
            border-radius: 52% 51% 54% 53%;
            transform-origin: 50% 50%;
            animation: circleBg 60s linear 0s infinite alternate;
            &:nth-child(2){
                border-radius: 50% 53% 55% 54%;
                top: 70px;
            }
            &:nth-child(3){
                border-radius: 57% 53% 58% 55%;
                top: calc(5028px * 10);
            }
            
        }
        
    }

    .form_top_contents{
        width: 100%;
        // position: absolute;
        // z-index: 2;
        padding: 60px 0;

        

        .top{ 
            
            text-align: center;
            @include centerRule();
            flex-direction: column;
            
            h2{
                font-size: $head32;
                color: white;
                >div:first-child{
                        padding-bottom: 4px;
                    
                }
            }
            .goFormBtn{
                padding: 2rem 0;
                z-index: 1;
            }

            section{
                padding: 24px 16px  24px 32px;
                // width: 808px;
                width: 100%;
                background: $lightBlueColor;
                border: 2px solid $basicBrownColor;
                border-radius: 20px;
                color: $basicBlueColor;
                position: relative;
                &::after{
                    content: url('./../../images/boat-fireworks.png');
                    position: absolute;
                    left: 0px;
                    bottom:-55px;
                    
                }
                &::before{
                    content: url('./../../images/boat.svg');
                    position: absolute;
                    right:  25px;
                    top: -35px;
                    
                }
                .paragGroup{
                    padding-bottom: 2rem;
                    align-self:stretch;
                    &:last-child{
                        padding-bottom: 0;
                    }

                    li{
                        font-weight: 400;
                        font-size: $word16;
                        line-height: 180%;
                        list-style: none;
                        text-align: left;
                        text-indent: -1.1em;
                        
                        span{
                            font-weight: 700;
                            line-height: 180%;
                            text-decoration: underline;
                            &.noUnder{
                                text-decoration:none
                            }
                        }
                    }
                }
                


            }
        }
        

    }

    
}
.curve{
    height: 110px;
    background: url('./../../images/waves_bg.png');
}


.form_bottom_contents{
    position: relative;
    padding-bottom: 58px;
}

.lottery_top_bg{
    // height: 531px;
    background: url('../../images/sands_bg.png');
    background-size: contain;

    .award_shadow{
        position: relative;
        width: 100%;
        height: 121px;
        border-radius: 20px;
        background-color: #FAFAFA;
        .award{
            width: 100%;
            background-color: white;
            height: calc(100% - 9px);
            border-radius: 20px;
            font-size: 18px;
            line-height: 125%;
            color: #B3B960;
            padding: 16px 18px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            .one{
                width: fit-content;
                padding: 3px 10px;
                background: #FAFAFA;
                border: 1px solid #B3B960;
                border-radius: 50px;
                font-weight: 400;
                font-size: $notes12;
                line-height: 140%;
                color: #B3B960;
                align-self:flex-end;
            }
        }
    
        .medal{
            width: 100%;
            height: fit-content;
            position: absolute;
            top: calc(-78px / 2 + 16.916px);
            left: 0;
            right: 0;

            &_text{
                font-size: 16.916px;
                line-height: 125%;
                color: white;
                position: absolute;
                top: calc(50% - (16.916px));
                bottom: 0;
                left: 0;
                right: 0;
            }
        }
    }
    
}

.lottery_botton{
    padding: 40px 0;
    .info{
        width: fit-content;
        font-size: $head20;
        line-height: 140%;
        text-align: center;
        color: $basicBlueColor;
        padding-bottom: 20px;
        margin: 0 auto;
        position: relative;
        &_date{
            color: $basicBrownColor;
        }

        &::after,&::before{
            content: '';
            border: 1px solid $basicBlueColor;
            position:absolute;
            height: calc(100% - 20px);
            top:0;
            bottom: 0;
            transform: rotate(-15deg);
            
        }
        &::after{
            left:-28.85px;
        }
        &::before{
            transform: rotate(15deg);
            right: -28.85px;
        }
    }
}

.market_bg{
    padding: 40px 0;
    background-color: $basicBlueColor;
    border-radius: 50px 50px 0px 0px;
    .info{
        width: fit-content;
        font-size: $head20;
        line-height: 200%;
        text-align: center;
        @include chartWidth();
        color: white;
        margin: 0 auto;
        padding-bottom: 24px;
    }
}

@keyframes circleBg {
    from{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}