@import '../styleGuide.scss';

.titles{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: fit-content;
    padding-bottom: 1rem;
    img:nth-child(2){
        order:2;
    }
    h3{
        margin: 0;
        font-size: $word18;
        flex-grow: 1;
        padding: 0 3px;
        // outline: 1px solid red;
    }
}