@import './styleGuide.scss';

*{
    font-family: 'Noto Sans TC', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    
}
body{
    margin: 0;
    
    
}
#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background-color: $basicEarthColor;
    // height: 634px;
    min-height: 100vh;
    
    z-index: -3;
}
